<!--
 ==================================================
 Call To Action Section Start
 ================================================== -->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Vous cherchez un développeur web ? ?</h2>
                    <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                        Si mon profil vous intéresse n'hésitez pas à me contacter <br> </p>
                    <a href="{{ path('Contact') }}" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Contactez  moi</a>


                </div>
            </div>

        </div>
    </div>
</section>