{% extends 'base.html.twig' %}

{% block body %}

    {% include(':default:global-page-header.html.twig') %}

    <section id="blog-full-width">

        <div class="container">
            <div class="row">

                <div class="col-xs-1 col-sm-0 col-lg-1 col-md-1"></div>
                <div class="col-xs-5 col-sm-3 col-lg-2 col-md-2">
                    <div class="wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                        <div class="circle-text"><div>2015 <br> 2014</div></div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-8 col-lg-8 col-md-9">
                    <div class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">

                            <h4>
                                Licence Développeur informatique à l’école <a href="http://www.ecole-isitech.com/index.html">ISITECH </a> Lyon
                            </h4>
                            <p>
                            <ul>
                                <li><a href="doc/planRPI.pdf" target="_blank">Télécharger le programme Responsable de Projets Informatiques (R.P.I.)</a></li>
                                <li><a href="doc/PlanningFormation.pdf" target="_blank">Télécharger le planning de Formation</a></li>
                            </ul>
                            </p>
                    </div>
                </div>

            </div>
            <p></p>

            <div class="row">

                <div class="col-xs-1 col-sm-0 col-lg-1 col-md-1"></div>
                <div class="col-xs-5 col-sm-3 col-lg-2 col-md-2">
                    <div class="wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                        <div class="circle-text"><div>2012 <br>2013</div></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-lg-8 col-md-9">
                    <div class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                            <h4>
                                Auditeur inscrit aux UE du Formation développement d'application CNAM de Lyon
                            </h4>
                            <p>
                            <ul>
                                <li><a href="http://dnf3.cnam.fr/offre2012/pdf/ueGLG105.pdf"> GLG105: Génie logiciel </a></li>
                                <li><a href="http://formation.cnam.fr/pdf/ueNFP121.pdf">NFP121: Programmation avancée</a></li>
                            </ul>
                            </p>
                    </div>
                </div>
            </div>
            <p></p>

            <div class="row">

                <div class="col-xs-1 col-sm-0 col-lg-1 col-md-1"></div>
                <div class="col-xs-5 col-sm-3 col-lg-2 col-md-2">
                    <div class="wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                        <div class="circle-text"><div>2011<br>2012</div></div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-8 col-lg-8 col-md-9">
                    <div class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="dis-for">
                            <h4>
                                Auditeur inscrit aux UE du Formation développement d'application au CNAM de Lyon
                            </h4>
                            <p>
                            <ul>
                                <li>
                                    <a href="http://formation.cnam.fr/pdf/ueNFE114.pdf">NFE114: Systémes d'information web </a>
                                </li>
                                <li>
                                    <a href="http://formation.cnam.fr/pdf/ueNFE113.pdf">NFE113:Conception et administration de bases de données</a>
                                </li>
                                <li>
                                    <a href="http://formation.cnam.fr/pdf/ueNFE102.pdf">NFE102:Infrastructures technologiques pour le commerce électronique</a>
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>


            <div class="row">

                <div class="col-xs-1 col-sm-0 col-lg-1 col-md-1"></div>
                <div class="col-xs-5 col-sm-3 col-lg-2 col-md-2">
                    <div class="wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                        <div class="circle-text"><div>2010 <br>2011</div></div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-8 col-lg-8 col-md-9">
                    <div class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                        <h4>
                            Auditeur inscrit aux UE du Formation développement d'application au CNAM de Lyon
                        </h4>
                        <p>
                        <ul>
                            <li>
                                <a href="http://dnf3.cnam.fr/offre2011/pdf/ueNFA001.pdf">NFA001: Algorithmique programmation Java:bases</a>
                            </li>
                            <li>
                                <a href="http://dnf3.cnam.fr/offre2011/pdf/ueNFA002.pdf">NFA002: Algorithmique programmation Java:concepts objets</a>
                            </li>
                            <li>
                                <a href="http://dnf3.cnam.fr/offre2010/pdf/ueNFA005.pdf">NFA005:Algorithmique et programmation Java:travaux pratiques TP </a>
                            </li>
                            <li>
                                <a href="http://dnf3.cnam.fr/offre2010/pdf/ueNFA006.pdf">NFA006: Structures de données</a>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>

            <p></p>


            <div class="row">

                <div class="col-xs-1 col-sm-0 col-lg-1 col-md-1"></div>
                <div class="col-xs-5 col-sm-3 col-lg-2 col-md-2">
                    <div class="wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                        <div class="circle-text"><div>2007<br> 2008</div></div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-8 col-lg-8 col-md-9">
                    <div class="wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">
                            <h4>
                                Niveau Master II Physique et Application à l'université de Pierre et Marie Curie(Paris VI)
                            </h4>
                            <p></p>
                    </div>
                </div>
            </div>
            <p></p>



            <div class="row">

                <div class="col-xs-1 col-sm-0 col-lg-1 col-md-1"></div>
                <div class="col-xs-5 col-sm-3 col-lg-2 col-md-2">
                    <div class="wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                        <div class="circle-text"><div>2005 <br>2006</div></div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-8 col-lg-8 col-md-9">
                    <div class="wow fadeInDown" data-wow-delay=".9s" data-wow-duration="500ms">
                        <div class="dis-for">
                            <h4>
                                Master I Physique Générale à l'université de Pierre et Marie Curie (Paris VI):
                            </h4>
                            <p>
                            <ul>
                                <li>
                                    Option S1: traitement des signaux optique guidée et impulsions
                                </li>
                                <li>
                                    Option S2 : filtrage numérique, physique des lasers, interaction matiére condense particules
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>

            <div class="row">

                <div class="col-xs-1 col-sm-0 col-lg-1 col-md-1"></div>
                <div class="col-xs-5 col-sm-3 col-lg-2 col-md-2">
                    <div class="wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                        <div class="circle-text"><div>2003 <br> 2004</div></div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-8 col-lg-8 col-md-9">
                    <div class="wow fadeInDown" data-wow-delay=".9s" data-wow-duration="500ms">
                        <div class="dis-for">
                            <h4>
                                Licence Physique Appliquée à l'université de Pierre et Marie Curie (Paris VI) :
                            </h4>
                            <p>
                            <ul>
                                <li>
                                    Option:électronique des systémes
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>


        </div>


    </section>

{% endblock %}


